.calculadora {
    margin-top: 4em;
}

h4{
    line-height: 2em;
    text-align: center;
}
#btnCalculadora {
    margin: 0 auto;
}

h2{
    line-height: 2em;
    text-align: center;
}

table {
    text-align: center;
}