* {
    margin: 0; padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #fffef7 !important;
}
#menu {
    border: none !important;
}
a {
    color: black !important;
}
#logo {
    width: 40px;
    height: 40px;
}

#menu a:hover{
    color: #ec4b66 !important;
    /* background-color: #ec4b66; */
}

li {
    padding-left: 2em;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.about-us-box {
    margin-top: 100px;
    height: 100vh;
    min-height: 350px;
}
 
.about-us-box-text {
    padding-right: 30px;
    text-align: left;
}
 
.about-us-box-text h3 {
    margin-top: 0;
}
 
.about-us-box-text .medium-paragraph {
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
}

.equipe {
    margin-top: 40px;
}
 

.card-img-top {
    width: 500px;
    height: 350px;
}