* {
    margin: 0; padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #fffef7 !important;
}
#menu {
    border: none !important;
}
a {
    color: black !important;
}
#logo {
    width: 40px;
    height: 40px;
}

#menu a:hover{
    color: #ec4b66 !important;
    /* background-color: #ec4b66; */
}

li {
    padding-left: 2em;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
